    
    /*estilos del bannerr */

.banner{
     width: 1000px;
     height: 300px;
     border: 3px solid rgb(248, 245, 245);
     margin: auto;

     background-size: 100% 100%;

     animation : banner 10s infinite;
     animation-direction: alternate;

}

@keyframes banner{
    0%,30%{
        background-image: url(img/img1.PNG);
        opacity: 7;
    }
    31%,34%{
        opacity: 2;
    }
    35%,65%{
        background-image: url(img/img2.PNG);
        opacity: 7;
    }
    66%,69%{
        opacity: 2;
    }
    70%,100%{
        background-image: url(img/img3.PNG);
        opacity: 7;
    }
}

    /*menu emergente */
* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav {
    width:500px; 
    margin:0 auto;
   
}

.nav > li {
    float:left;
  
    
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 25px;
    display:block;
    
}

.nav li a:hover {
    background-color:#810707;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
